.transaction {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    font-size: 1.5rem;
}

.transaction:hover {
    filter: opacity(0.9);
    transform: translateY(-4px);
    transition: transform 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.transaction-amount {
    margin-left: auto;
}

.delete-transaction {
    margin-left: 20px;
    cursor: pointer;
    background-color: red;
    font-weight: 900;
}